html {



  }

  .black-body {

background-color: rgb(35, 35, 35) !important;

    }

    .home {

      display:flex;
    justify-content: center;
      background-size:cover;
      height:100vh;
    }

    .para {

      font-size: 16px;
      line-height:27px;
      font-weight:300;
    }

    .quote {

      color:rgba(222,255,255,0.3);
      font-size:26px;
      font-weight:300;
      line-height: 30px;
    }

  .bg-pink {

    background-color: pink;
  }

    .smalltxt {
      font-size:12px;
      font-weight:300;
      color:rgb(150,150,150);
    }

h1 {

  font-size: 60px !important;
  font-weight:
}


  p{

  font-size:14px;
  color:white;
  font-weight:400;
}

.footer-text {

  font-size:12px;
  color: rgb(255,255,255,0.8);
}

.a_red{
  color:#ED284D !important;
}

a {
  color:white !important;
}

@keyframes pound {
	from { transform: none; }
	14% { transform: scale(1.4); }
	28% { transform: scale(1.0);}
	42% { transform: scale(1.4);}
	70% { transform: scale(1); }
	100% { transfor: scale(1.0); }
}

.heart {

	animation: pound 0.9s infinite;
}

hr {
  border-top:1px solid rgba(255, 255, 255, 0.3) !important;

}
